{{ partial "header.html" . }}

<section country="{{ if .IsNode }}{{ .URL }}{{ else }}none{{ end }}">

  <h1 id="title" class="script-font switch day"> {{ .Title }} </h1>

  <!--{{ partial "info" . }}

  <div id="dico" class="info">
    {{- range first 10 .Data.Pages }}

    {{- if eq .Type "dico" }}
    {{- .Content }}
    {{- end }}

    {{- end }}

  </div>-->


    <div id="main" class="switch day">
    {{- range first 10 .Data.Pages }}

    {{- if eq .Type "post" }}
    {{ .Render "li" }}
    {{- end }}

    {{- end }}
  </div>

  {{ partial "earth.html" . }}

</section>

{{ partial "footer.html" . }}
