{{ partial "header.html" . }}

<section country="{{ .Section }}">

  <h1 id="title" class="script-font switch day single" >{{ with .Params.fulltitle }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>

    <div id="main" class="switch day">

      <article>

      <h4 class="date">
        {{ .Date.Format "January 01, 2006" }}
      </h4>

        {{ .Content }}

      </article>

      <aside>
        {{ partial "disqus.html" . }}
      </aside>

    </div>

  {{ partial "earth.html" . }}

</section>


{{ partial "footer.html" . }}

