<div class="item-ratio">
  <div class="item">
    <a href="{{ $.Site.BaseURL }}{{ .Params.path }}/">
      <div class="item-image" style="background-image: url({{ $.Site.BaseURL }}/images/flag/{{ with .Params.image }}{{ . }}{{ else }}default.jpeg{{ end }});">
      </div>
      <div class="item-image" style="background-image: url({{ $.Site.BaseURL }}/images/frame.svg);">
      </div>
      <div class="item-frame">
      </div>
      <div class="item-shape">
      </div>
      <div class="item-title">
        <h4>{{ .Title }}</h4>
      </div>
    </a>
  </div>
</div>

