<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Slab" />
    <title>{{ .Title }}</title>
  </head>
  <body>

    <header>

      <div id="main-title">
        <a href="{{ .Site.BaseURL }}"><h1>Around the world</h1></a>
      </div>

      <div id="main-undertitle">
        <img class="underline" alt="" src="{{ $.Site.BaseURL }}images/undertitle.svg">
        <img class="earth" alt="" src="{{ $.Site.BaseURL }}images/earth.svg">
        <img class="underline" alt="" src="{{ $.Site.BaseURL }}images/undertitle.svg">
      </div>

    </header>

    <nav>

      <ul>
        <li class="nav-link"> <a href="{{ .Site.BaseURL }}/article/about"> About </a> </li>
        <li class="nav-link"> <a href="{{ .Site.BaseURL }}article"> Articles </a> </li>
        <li class="nav-dumb"> </li>
        <li class="nav-link"> <a href="{{ .Site.BaseURL }}post"> Posts </a> </li>
        <li class="nav-link"> <a href="{{ .Site.BaseURL }}/Gallery"> Gallery </a> </li>
      </ul>

    </nav>


