<div id="earth-section">
  <div id="earth-div">
  </div>
</div>

{{ partial "shader.html" . }}

<script src="{{ $.Site.BaseURL }}/js/three.js"></script>
<script src="{{ $.Site.BaseURL }}/js/OrbitControls.js"></script>
<script src="{{ $.Site.BaseURL }}/js/Stats.js"></script>
<script src="{{ $.Site.BaseURL }}/js/dat.gui.min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/earth/data.js"></script>
<script src="{{ $.Site.BaseURL }}/js/earth/scene.js"></script>
<script src="{{ $.Site.BaseURL }}/js/earth/detector.js"></script>
<script src="{{ $.Site.BaseURL }}/js/earth/viewer.js"></script>
<script src="{{ $.Site.BaseURL }}/js/earth/earth.js"></script>
<script src="{{ $.Site.BaseURL }}/js/earth/app.js"></script>

