<script type="x-shader/x-vertex" id="vertexShader">

varying vec2 uv_out;
varying vec3 pos_out;
varying vec3 normal_out;

void main(){
uv_out = uv;
pos_out = (modelMatrix * vec4(position, 1.0)).xyz;
normal_out = (modelMatrix * vec4(normal, 0.0)).xyz;
gl_Position = projectionMatrix*modelViewMatrix*vec4(position, 1.0);
}

</script>

<script type="x-shader/x-vertex" id="vertexShaderHeightMapping">

uniform sampler2D heightmap;

varying vec2 uv_out;
varying vec3 pos_out;
varying vec3 normal_out;

void main(){
vec4 height = texture2D(heightmap, uv + vec2(0.027, -0.006));
uv_out = uv;
vec3 newPosition = (1.0 + height.x*0.1) * position;
vec4 pos = projectionMatrix*modelViewMatrix*vec4(position, 1.0);
pos_out = (modelMatrix * vec4(position, 1.0)).xyz;
normal_out = (modelMatrix * vec4(normal, 0.0)).xyz;
gl_Position = pos;
}

</script>

<script type="x-shader/x-fragment" id="fragmentShader">

uniform sampler2D map;
uniform sampler2D blurmap;
uniform sampler2D secondmap;
uniform sampler2D indexmap;
uniform int pickedindex;
uniform int lookindex;

uniform float uoffset;
uniform float voffset;

uniform vec3 sunPosition;
uniform vec3 sunColor;

varying vec2 uv_out;
varying vec3 pos_out;
varying vec3 normal_out;

void main(){
vec2 uv_new = uv_out + vec2(uoffset, voffset);
vec4 color = texture2D(map, uv_out);
vec4 colorIndex = texture2D(indexmap, uv_new);

vec4 light = vec4(0.4, 0.4, 0.4, 1.0);
vec3 lightDirection = normalize(pos_out - sunPosition);
light.rgb += clamp(dot(-lightDirection, normal_out), 0.0, 1.0)*sunColor*0.01;

if(int(colorIndex.x*255.0) == pickedindex)
gl_FragColor = color*1.2;
else if(int(colorIndex.x*255.0) == lookindex)
gl_FragColor = color;
else
gl_FragColor = color*light;
}

</script>

<script type="x-shader/x-fragment" id="fragmentShaderDetector">

uniform float uoffset;
uniform float voffset;
uniform sampler2D map;

varying vec2 uv_out;

void main(){
vec2 uv_new = uv_out + vec2(uoffset, voffset);
vec4 color = texture2D(map, uv_new);
gl_FragColor = color;
}

</script>

<script type="x-shader/x-vertex" id="skyboxVertexShader">

varying vec3 uv_out;

void main(){
vec3 pos = mat3(modelMatrix) * position;
uv_out = pos;
vec4 pmp = projectionMatrix*modelViewMatrix*vec4(position, 1.0);
gl_Position = pmp.xyww;
}

</script>

<script type="x-shader/x-fragment" id="skyboxFragmentShader">

uniform samplerCube envMap;

varying vec3 uv_out;

void main(){
vec4 color = textureCube(envMap, uv_out);
gl_FragColor = color;
}

</script>

<script type="x-shader/x-vertex" id="blurVertexShader">

varying vec2 uv_out;

void main(){
uv_out = uv;
gl_Position = vec4(position.xy, 0.0, 1.0);
}

</script>

<script type="x-shader/x-fragment" id="blurFragmentShader">

uniform sampler2D map;
uniform sampler2D ghostMap;
uniform vec2 sunPos;
uniform vec2 earthPos;

uniform float radius;
uniform float blur;
uniform float bright;

varying vec2 uv_out;

void main(){
vec4 color = texture2D(map, uv_out);

vec4 sunBlur = vec4(0.0);

vec2 uv_new = uv_out + radius*0.5 - sunPos;

for(int i = 0; i < 12; i++)
{
float scale = 1.0 + blur*(float(i)/11.0);
sunBlur += texture2D(ghostMap, uv_new*scale + sunPos);
}

for(int i = 0; i < 12; i++)
{
float scale = 1.0 - blur*(float(i)/11.0);
sunBlur += texture2D(ghostMap, uv_new*scale + sunPos);
}

sunBlur /= 12.0;
sunBlur *= bright;

vec4 earthBlur = vec4(0.0);

uv_new = uv_out + radius*0.5 - earthPos;

for(int i = 0; i < 12; i++)
{
float scale = 1.0 - blur*(float(i)/11.0);
earthBlur += texture2D(ghostMap, uv_new*scale + earthPos);
}

earthBlur /= 12.0;
earthBlur *= bright;

//color = mix(color, earthBlur, (earthBlur.r + earthBlur.g + earthBlur.b)/3.0);

gl_FragColor = mix(color, sunBlur, (sunBlur.r + sunBlur.g + sunBlur.b)/3.0);
}

</script>

